.titulo{
	font-weight: bold;
	color: #000000;
}

.titulo2{
	font-weight: bold;
	color: #000000;
	//text-align:center; 
}

.alin{
	vertical-align: baseline;
	border-radius: 15px;
}

.caja_blanca{
	background-color:#FFFFFF;
	border-radius:10px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:6px;
	padding-top:1px;
	margin-bottom:10px;
}

.img_peq{
	width:30px;
	height:30px;
	vertical-align:middle;
	margin-right:10px;
}

/*.nuevo{
	width:1000px;
height:10px;
overflow:scroll;
}

.piedras{

width:10px;
height:30px;

}*/
